.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: DMSans;
  src: url(./theme/fonts/DM_Sans/DMSans-Regular.ttf);
}

@font-face {
  font-family: ClearSans;
  src: url(./theme/fonts/clear-sans/ClearSans-Regular.ttf);
}

.Home {
  flex-direction: row;
}

header {
  color: #343434;
  font-family: ClearSans;
  font-size: 44px;
  font-weight: bold;
}

p {
  font-family: DMSans;
  font-size: 14px;
}